<form method="post" action="{{ path('admin.social.delete', {'id': social_media.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ social_media.id) }}">
    <button class="btn">Supprimer</button>
</form>
